<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Text analyzer</h1>
<form action="/analyze" method="get"><!--Action=path name of url "analyze/"-->
    <textarea name="text" style="width: 793px;height: 200px" ></textarea><br>
    <input type="checkbox" name="rempunc">Remove punctuation<br>
    <input type="checkbox" name="number">Integer<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>